<table class="table table-bordered tbl">
  <thead>
    <tr>
        <th style="text-align:center;">Rank</th>
        <th style="text-align:center;">Name</th>
        <th style="text-align:center;">Points</th>
    </tr>
  </thead>
  <tbody>
    <% @rank_list.each_with_index do |rank, index| %>
        <tr>
          <td style="text-align:center;"><%= index+1 %></td>
          <td style="text-align:center;"><%= User.find_by_id(rank[0]).name %></td>
          <td style="text-align:center;"><%= rank[1] %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
  <% if current_user.github == "true" %>
    <%= link_to "Sync with Github", sync_github_user_path(current_user.id), class: "btn btn-success connect-btn" %>
  <% else %>
    <%= link_to "Connect with Github", omniauth_authorize_path(current_user, "github"), class: "btn btn-success connect-btn" %>
  <% end %>

  <% if current_user.stackoverflow == "true" %>
    <%= link_to "Sync with StackOverflow", sync_stackoverflow_user_path(current_user.id), class: "btn btn-warning connect-btn" %>
  <% else %>
    <%= link_to "Connect with StackOverflow", omniauth_authorize_path(current_user, "stackexchange"), class: "btn btn-warning connect-btn" %>
  <% end %>
<% end %>
