<div class="container">
  <div class="row">
    <div class="col-sm-4">

    </div>

    <div class="col-sm-8">
        <h2><%= @user.name %></h2>
    </div>
  </div>

        <%= "Email Id : " + @user.email %> <br />
        <%= "Github Commits : " + @user.g_commits.to_s %> <br />
        <%= "StackOverflow Reps : " + @user.s_reputation.to_s %> <br />
        <%= "StackOverflow Reps : " + @user.avatar.url %> <br />
        <% if @user.avatar.present? %>
          <%= image_tag(@user.avatar.url, class: "d-profile-picture") %> <br />
        <% else %>
          <%= image_tag("missing.jpg", class: "d-profile-picture") %> <br />
        <% end %>

        <% if @user.github == "true" %>
          <%= link_to "Sync with Github", sync_github_user_path(@user.id) %><br />
        <% else %>
          <%= link_to "Connect with Github", omniauth_authorize_path(@user, "github") %><br />
        <% end %>


        <% if @user.stackoverflow == "true" %>
          <%= link_to "Sync with StackOverflow", sync_stackoverflow_user_path(@user.id) %><br />
        <% else %>
          <%= link_to "Connect with StackOverflow", omniauth_authorize_path(@user, "stackexchange") %><br />
        <% end %>
</div>
